<!--
<div class="container mt-4">
  <div class="row">
  <div class="col">
<h1 class="text-danger">Payment form</h1>
<br>
<br>
<form>

        <div class="mb-3">
            <label>Receiver Name</label>
            <br>
            <input type="text"

            (keyup)="getName($event)"/>

            <p> Receiver Name
              <br>
              {{displayName}}
            </p>
        </div>

        <div class="mb-3">
            <label>Payment Date</label>
            <br>
            <input type="text"

            (keyup)="getDate($event)"/>

            <p> Payment Date
              <br>
              {{displayDate}}
            </p>
        </div>

        <div class="mb-3">
            <label>Amount</label>
            <br>
            <input type="text"

            (keyup)="getAmt($event)"/>

            <p> Amount
              <br>
              {{displayAmt}}
            </p>

        </div>

</form>

</div>
</div>
</div>

-->


<div class="container">

  <div class="card" style="width:45rem; margin: 50px auto;">
    <div class="card-body">
      <h3 class="card-title fw-bold">Payment Form</h3>
      <br>
      <div class="row">
        <div class="col-8" style="width:20rem;">

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Receiver Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" (input)="userInput($event)">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Payment Date</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" (input)="userInput1($event)">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Amount</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" (input)="userInput2($event)">
          </div>
        </div>
        <div class="col-4 mx-5">




          <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Receiver Name</label>
            <div class="mt-2">
            <label for="exampleFormControlInput1" class="form-label">{{receiver_name | titlecase}}</label>
            </div>
          </div>

          <div class="mb-2">
            <label for="exampleFormControlInput2" class="form-label fw-bold">Payment Date</label>
            <div class="mt-1">
            <label for="exampleFormControlInput2" class="form-label">{{payment_date | date}}</label>
            </div>
          </div>

          <div class="mb-2">
            <label for="exampleFormControlInput3" class="form-label fw-bold">Amount</label>
            <div class="mt-1">
            <label for="exampleFormControlInput3" class="form-label">{{total_amount | currency:'INR'}}</label>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
